@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* called by your view template */
:root {
    --var-color-grey: rgba(0, 0, 0, 0.99);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    color: #fff;
    background-color: #1e203c;
    /*     margin: 2em; */
}


h1 {
    font-style: italic;
    color: rgba(255, 255, 255, 1);
}

.bold {
    font-weight: bold;
}

p {
    max-width: 600px;
}

form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 16px;
}

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px #f9f9ff;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

button:active {
    box-shadow: none;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #000000;
}

#compare_death .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#barchart text {
    font-family: Helvetica, serif;
}

#barchart .axis path,
#barchart .axis line {
    fill: none;
    shape-rendering: crispEdges;
}

#barchart .x.axis {
    font-size: 15px;
}

#barchart .y.axis {
    font-size: 12px;
}

#fourtypercent path.color0 {
    fill: #fff;
}

#fourtypercent path.color1 {
    fill: rgba(255, 255, 255, .3);
}

#fourtypercent text {

    font-weight: 400;
    line-height: 16em;
    fill: #fff;
}

#other_stats text {
    fill: #fff;
}

#other_stats_captions text {
    fill: #fff;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky {
    top: 5%;
    align-self: flex-start;
}

.step {
    min-height: 75vh;
    border: white;
}

.center_me{
    margin-top: 100%;
    position: relative;
    top: 50%;
    vertical-align: middle;
}
#intro_scrollable header {
    display: block;
}

#title_not_scrollable {
    width: 100vw;
    height: 100vh;
}

#title_not_scrollable header {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip_map {
    background: rgba(0, 0, 0, 0.85);
    color: #f9f9f9;
    padding: 8px;
}
.tooltip_map h3 {
    margin: 0px 0px 8px;
}

#year_mark {
    z-index: 9999;
    fill: white;
    position: fixed;
    padding: 2em;
    left: 30%;
    top: 30%;
    transform: translate(-220%, -50%);
    visibility: hidden;
}

.years_labels { padding-left: 50px;}

#new_england_dashboard {
    width: 100vw;
    height: 100vh;
}