/* styles */
/* called by your view template */
:root { --var-color-grey: #898989; }

* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #ccc;
    /*     margin: 2em; */
}

h1 {
    font-style: italic;
    color: #373fff;
}

.bold {
    font-weight: bold;
}

p {
    max-width: 600px;
}

form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: cyan;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
}

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

button:active {
    box-shadow: none;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid lightgrey;
}

.parallax {
    /* The image used
    background-image: url("img_parallax.jpg");
    */
    /* Set a specific height */
    height:100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#compare_death .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#barchart text {
    font-family: Helvetica;
}
#barchart .axis path,
#barchart .axis line {
    fill: none;
    shape-rendering: crispEdges;
}
#barchart .x.axis {font-size: 15px;  }
#barchart .y.axis {font-size: 12px; }

#fourtypercent path.color0 {
                fill: #fff;
            }
#fourtypercent path.color1 {
                fill: rgba(255,255,255,.3);
            }
#fourtypercent text {
                
                font-weight: 400;
                line-height: 16em;
                fill: #fff;
            }